body{
  padding: 15px;
  margin: 0;
  background-color: rgb(40, 40, 40);
}
.card-container{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.left-container{
  width: 53%;
}
.right-container{
  width: 47%;
  display: flex;
  flex-wrap: wrap;
}